.display {
    width: 600px;
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 650px;
    top: 15px;
    resize: none;
}
textarea {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.keyboard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    height: 250px;
    padding: 10px;
    margin: 300px auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.akey {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.shift {
    background-color: #eee;
    width: 130px;
}

.space {
    width: 600px;
}

.enter {
    width: 70px;
}

.capslock{
    width: 100px;
    background-color: #eee;
}

.backspace {
    width: 100px;
}

.tab{
    width: 100px;
}